@media only screen and (min-width: 1900px) {
	div.description > p {
		padding-top: 100px;
		font-size: 24px;
		line-height: 40px;
	}

	div.about, div.avantage, div.certificates {
		height: 800px;
	}

	div.block {
		margin-top: 135px;
	}

	div.certificate {
		height: 400px;
		margin-top: 50px;
	}

	.logotype {
		margin-left: 0;
	}
}

@media only screen and (min-width: 1200px) {
	.head {
		justify-content: center;
	}

	.logotype {
		margin-left: -100px;
	}

}

@media only screen and (min-width: 1025px) {
	.oshibka_2 {
		display: none !important;
	}
}

@media only screen and (max-width: 1270px) {
	.second_part_title_div {
		font-size: 170%;
	}
}

@media only screen and (max-width: 1100px) {
	.second_part_title_div {
		font-size: 150%;
	}
}

@media only screen and (max-width: 1024px){
	#tolk {
		margin-top: 10px;
	}
	.oshibka {
		display: none !important;
	}
	.first_part{
		position: static;
		height: auto;
	}
	
	.carousel-caption {
		bottom: 0;
	}

	.fa-bars{
		color: white;
	}
	.head{
		display: none;
	}
	.responsive_menu{
		border:0px solid black;
		width: 100%;
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.menu_large_block{
		border: 0px solid black;
		width: 100%;
		height: 45px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #d50000;
	}
		.menu-title{
			border:0px solid black;
			width: 150px;
			height: 45px;
			font-family: Museo;
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.menu-icon{
			border: 0px solid black;
			width: 45px;
			height: 45px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 120%;
		}
		#trigger-out{
			display: none;
		}
	.nav_menu{
		border:0px solid blue;
		width: 100%;
		height: 360px;
		display: none;
		flex-direction: column;
		justify-content: space-between;
	}
		.nav_blocks{
			border: 0px solid grey;
			width: 100%;
			height: 38px;
			background-color: #d50000;
			font-family: 'Roboto', sans-serif;
			color: black;
			font-size: 110%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: white;

		}
		.lang_block{
			border: 0px solid grey;
			width: 100%;
			height: 38px;
			background-color: #d50000;
			font-family: 'Roboto', sans-serif;
			color: black;
			font-size: 110%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: white;
		}
		.logotype_info{
			width:400px;
			height: 100px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
			.logo-title{
				font-size: 160%;
			}
			.logo-description{
				font-size: 90%;
			}
	.second_part{
		border: 0px solid black;
		background-image: unset;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

		.second_part_title_div{
			width: 100%;
			background-size: 90%;
			font-size: 140%;
		}
		.second_part_info_block{
			width: 100%;
			font-size: 110%;
			margin: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}
		.third_div{
			height: 1600px;
			background-image: url('../responsive_img/seven-background-big.png');
			background-attachment: fixed;
		    background-position: center;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
		.third_content{
			height: 1400px;
			display: flex;
			flex-direction: column;
		}
			.content-blocks{
				height: 300px;
			}
			.icon-div-one{
				background-size: 70%;
				background-image: url('../img/natural.png');
			}
			.icon-div-two{
				background-size: 70%;
				background-image: url('../img/script.png');
			}
			.icon-div-three{
				background-size: 70%;
				background-image: url('../img/gauge.png');
			}
			.icon-div-four{
				background-size: 70%;
				background-image: url('../img/heart.png');
			}
			.icon-title{
				color: white;
			}
			.icon-description{
				color: white;
			}
			.forth-part{
				height: 1650px;

			}
			.forth-content{
				height: 1500px;

			}
			.forth-content-blocks{
				width: 100%;
				height: 1400px;
				flex-direction: column;

			}
	.fifth_part{
		width: 100%;
		height: 1700px;
		background-size: 100%;
		background-image: url('../responsive_img/fifth-background.png');
		background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.fifth-content{
		width: 100%;
		height: 1450px;
		flex-direction: column;
	}
	.fifth-blocks-one{
		background-size: 70%;
	}
	.fifth-blocks-two{
		background-size: 70%;
	}
	.fifth-blocks-three{
		background-size: 70%;
	}
	.fifth-blocks-four{
		background-size: 70%;
	}
	.sixth-part{
		width: 100%;
		height: 930px;
	}
	.sixth-content{
		width: 100%;
		height: 700px;
		flex-direction: row;
	}
	.sixth-content-blocks{
		width: 200px;
		height: 600px;
		flex-direction: column;
	}
	.sixth-block-one{
		width: 140px;
		height: 100px;
		background-size: 95%;
	}
	.sixth-block-two{
		width: 140px;
		height: 100px;
		background-size: 95%;
	}
	.sixth-block-three{
		width: 140px;
		height: 100px;
		background-size: 95%;
	}
	.sixth-block-four{
		width: 140px;
		height: 100px;
		background-size: 95%;
	}
	.sixth-block-five{
		width: 140px;
		height: 100px;
		background-size: 95%;
	}
	.sixth-block-six{
		width: 140px;
		height: 100px;
		background-size: 95%;
	}
	.sixth-block-seven{
		width: 140px;
		height: 100px;
		background-size: 95%;
	}
	.sixth-block-eight{
		width: 140px;
		height: 100px;
		background-size: 95%;
	}
	
	button.otpravka {
		margin-left: 0;
	}

}

@media only screen and (max-width: 992px) {
	div.about {
		background: none;
		height: auto;
	}

	div.avantage {
		height: auto;
		background: none;
		padding-bottom: 50px;
	}

	div.block > h3 {
		color: black;
	}

	div.block > p {
		color: black;
	}

	div.products {
		height: auto;
		border: 0px solid blue;
	}

	div.partners {
		height: auto;
	}

	div.certificates {
		height: auto;
		background: none;
	}

	p.zagolovok {
		text-align: center;
		padding-top: 10px;
	}


}

@media only screen and (max-width: 768px) {
	div.hat {
		padding-left: 0;
		padding-right: 0;
	}

	div.sotka {
		margin: 10px 0 !important;
	}

	input.nomer {
		width: 100%;
	}

	div.zakaz_zvonka {
		text-align: center;
	}

	button.otpravka {
		margin-top: 10px;
		display: inline-block;
	}

	p#interes {
		text-align: center;
	}

	div.product_main {
		margin-bottom: 0;
	}

	div.product_second {
		margin-bottom: 0;
	}

	div.footer i {
		margin-left: 10px;
	}
}

@media only screen and (max-width: 767px){
	.seven-part{
		width: 100%;
		height: 1000px;
	}
	.seven-background{
		justify-content: space-between;
		height: 640px;
	}
	.seven-info-first{
		width: 100%;
	}
	.seven-part-content{
		width: 100%;
		height: 600px;
		flex-direction: column-reverse;
	}
	.seven-part-title{
		font-size: 110%;
	}
	.seven-info{
		width: 230px;
		height: 200px;
	}
	.info-blocks{
		width: 200px;
		height: 30px;
	}
	.btn-danger{
		width: 230px;
		height: 30px;
	}
	.seven-info-text{
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	.seven-icon{
		margin-right: 10px;
		width: 30px;
		height: 30px;
	}
	.seven-icon-info{
		width: 250px;
		height: 30px;
		font-size: 90%;
	}
}

@media only screen and (max-width: 650px){
	.first_part{
		width: 100%;
		background-image: url('../responsive_img/main-background-big-646.png');
		background-position: center;
		background-size: cover;
	}
}
@media only screen and (max-width: 430px){
	body{
		width: 100%;
	}

	.nursultan {
		display: block;
	}

	div.description > p {
		padding-left: 35px;
	}

	.second_part_title_block {
		margin-bottom: 30px;
	}

	.first_part{
		height: 643px;
		width: 100%;
		background-image: url('../responsive_img/main.png');
	}
	
	.first_part_content {
		height: 420px;
	}

	.logotype_info{
		width: 100%;
		background-size: 95%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
		.logo-title{
			font-size: 150%;
		}
		.logo-description{
			font-size: 85%;
		}
}
