@media only screen and (max-width: 700px){
	.first_part{
		min-width: 100%;
		height: 643px;
		background-image: url('../responsive_img/main.png');
		background-color: white;
		background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.head{
		display: none;
	}
	.responsive_menu{
		border:0px solid black;
		width: 100%;
		height: 500px;
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.menu_large_block{
		border: 0px solid black;
		width: 100%;
		height: 45px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #d50000
	}
		.menu-title{
			border:0px solid black;
			width: 150px;
			height: 45px;
			font-family: Museo;
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.menu-icon{
			border: 0px solid black;
			width: 45px;
			height: 45px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 120%;
		}
	.nav_menu{
		border:0px solid blue;
		width: 85%;
		height: 340px;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
		.nav_blocks{
			border: 0px solid grey;
			width: 100%;
			height: 38px;
			font-family: 'Roboto', sans-serif;
			color: black;
			font-size: 110%;
			display: flex;
			align-items: center;

		}
		.lang_block{
			border: 0px solid grey;
			width: 75%;
			height: 38px;
			font-family: 'Roboto', sans-serif;
			color: black;
			font-size: 110%;
			display: flex;
			align-items: center;
		}
		.logotype_info{
			width: 320px;
			height: 100px;
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
		}
			.logo-title{
				font-size: 160%;
			}
			.logo-description{
				font-size: 90%;
			}
	.second_part{
		border: 0px solid black;
		background-image: unset;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

		.second_part_title_div{
			width: 320px;
			background-size: 90%;
			font-size: 150%;
		}
		.second_part_info_block{
			width: 100%;
			font-size: 110%;
			margin: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}
		.third_div{
			height: 1600px;
			background-image: url('../responsive_img/seven-background.png');
			background-attachment: fixed;
		    background-position: center;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
		.third_content{
			height: 1400px;
			display: flex;
			flex-direction: column;
		}
			.content-blocks{
				height: 300px;
			}
			.icon-div-one{
				background-size: 70%;
				background-image: url('../responsive_img/natural.png');
			}
			.icon-div-two{
				background-size: 70%;
				background-image: url('../responsive_img/script.png');
			}
			.icon-div-three{
				background-size: 70%;
				background-image: url('../responsive_img/gauge.png');
			}
			.icon-div-four{
				background-size: 70%;
				background-image: url('../responsive_img/heart.png');
			}
			.icon-title{
				color: black;
			}
			.icon-description{
				color: black;
			}
			.forth-part{
				height: 1650px;

			}
			.forth-content{
				height: 1500px;
			
			}
			.forth-content-blocks{
				width: 100%;
				height: 1400px;
				flex-direction: column;

			}
	.fifth_part{
		width: 100%;
		height: 1700px;
		background-size: 100%;
		background-image: url('../responsive_img/fifth-background.png');
		background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.fifth-content{
		width: 100%;
		height: 1450px;
		flex-direction: column;
	}
	.fifth-blocks-one{
		background-size: 70%;
	}
	.fifth-blocks-two{
		background-size: 70%;
	}
	.fifth-blocks-three{
		background-size: 70%;
	}
	.fifth-blocks-four{
		background-size: 70%;
	}
	.sixth-part{
		width: 100%;
		height: 930px;
	}
	.sixth-content{
		width: 100%;
		height: 700px;
		flex-direction: row;
	}
	.sixth-content-blocks{
		width: 200px;
		height: 600px;
		flex-direction: column;
	}
	.sixth-block-one{
		width: 170px;
		height: 130px;
		background-size: 95%;
	}
	.sixth-block-two{
		width: 170px;
		height: 130px;
		background-size: 95%;
	}
	.sixth-block-three{
		width: 170px;
		height: 130px;
		background-size: 95%;
	}
	.sixth-block-four{
		width: 170px;
		height: 130px;
		background-size: 95%;
	}
	.sixth-block-five{
		width: 170px;
		height: 130px;
		background-size: 95%;
	}
	.sixth-block-six{
		width: 170px;
		height: 130px;
		background-size: 95%;
	}
	.sixth-block-seven{
		width: 170px;
		height: 130px;
		background-size: 95%;
	}
	.sixth-block-eight{
		width: 170px;
		height: 130px;
		background-size: 95%;
	}
	.seven-part{
		width: 100%;
		height: 1600px;
	}
	.seven-background{
		justify-content: space-between;
		height: 640px;
        /*background-image: url('../responsive_img/main-background.png');*/
        /*background-attachment: fixed;*/
	    /*background-position: center;*/
	    /*background-repeat: no-repeat;*/
	    /*background-size: cover;*/
	}
	.seven-part-content{
		width: 400px;
		height: 600px;
		flex-direction: column-reverse;
	}
	.seven-part-title{
		font-size: 130%;
	}

}







