{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.title_ru}}</title>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox-3.0/dist/jquery.fancybox.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'responsive/main_responsive.css' %}">
    <script src="{% static 'fancybox-3.0/dist/jquery.fancybox.min.js' %}"></script>
</head>
<body class="details">
<div>
<div class="container-fluid hat compensate-for-scrollbar">
    <div class="row">
        <a href="{% url 'product:product-list-ru' %}#products">
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-3 col-xl-3 text-center">
                <p class="shapka">
                    <span>
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        Назад
                    </span>
                </p>
            </div>
        </a>
        <div class="col-xs-5 col-sm-4 col-md-6 col-lg-6 col-xl-6 text-center">
{#            <img src="{% static 'img/devala.png' %}" height="40" width="auto" >#}
        </div>
        <div class="col-xs-7 col-sm-4 col-md-3 col-lg-3 col-xl-3 text-center"><i></i>
            <p class="shapka">
                <span>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    0505040717
                </span>
            </p>
        </div>
    </div>
</div>

<div class="container-fluid product_main">
    <div class="row sotka">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-xl-8 col-xl-offset-2 product_main_block">
            <div class="col-sm-12 col-md-4 picture">
                <a data-fancybox="single" class="fancybox" href="/mediafiles/{{ product.image }}">
                    <img class="center-block" src="{% if product.image %}/mediafiles/{{ product.image}}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 title_desc">

                <p class="zagolovok">{{ product.title_ru }}</p>
                <hr>
                <p id="interes">Заинтересовал товар? Оставьте свой номер и мы Вам перезвоним</p>
                <div class="zakaz_zvonka">
                    <p id="hata"></p>
                    <form method="post" action="{% url 'product:send_number' %}" id="myForm">
                        {% csrf_token %}
                        <input class="nomer" name="number" placeholder="0555123456">
                        <button class="otpravka" type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid product_second">
    <div class="row sotka">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 product_second_block">
            <p>{{ product.full_description_ru| safe | linebreaks }}</p>

            <a href="{% url 'product:product-list-ru' %}#products">
                <span class="visible-xs" id="for_tel">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    Назад
                </span>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid footer">
    <div class="row">
        <div class="text-center">
            <div class="col-md-4">
                <p>
                    <span>
                        <i class="fa fa-map-marker mesto" aria-hidden="true"></i>
                    </span>
                    ул. Тыныстанова 197
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <span id="cep">                         <i class="fa fa-phone-square"></i>                         + 996 505 04 07 17<br/> 		        <i class="fa fa-whatsapp" style="color:#25d366"></i> 		        + 90 507 728 66 86                     </span>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <span>
                        Мы в социальных сетях:
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-instagram"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid rights">
    <div class="row">
        <div class="col-md-12">
            <p>&#169; 2020 DEVALA. Все права защищены</p>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close text-center" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body text-center">
        <h4 class="modal-title">Ваш номер успешно отправлен!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" src="{% static 'js/ajaxform.js' %}"></script>
<script>
    $(document).ready(function() {
            // bind 'myForm' and provide a simple callback function
            $('#myForm').ajaxForm(function(response) {
                console.log(response);
                if (response['error']) {
                    $('input').addClass('has-errors');
                    $('#hata').html('Номер введен неверно').slideUp().slideDown();
                }
                else {
                    $('input:not([name="csrfmiddlewaretoken"])').val('');
                    $('#hata').css('display', 'none').html('');
                    $('input').removeClass('has-errors');
                    $('#myModal').modal();
                }
            });
        });
</script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- BEGIN JIVOSITE CODE {literal} --> <script type='text/javascript'> (function(){ var widget_id = '9a3knLkEuT';var d=document;var w=window;function l(){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script> <!-- {/literal} END JIVOSITE CODE -->
</body>
</html>
