/* FONTS */

@font-face {
    font-family: PTSansRegular;
    src: url('../fonts/PTSansRegular.ttf');
}

@font-face {
	font-family: PTSansBold; /* Гарнитура шрифта */
	src: url('../fonts/PTSansBold.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Museo;
    src: url('../fonts/Museo.otf');
}

@font-face {
    font-family: Museo700;
    src: url('../fonts/Museo700.otf');
}

@font-face {
    font-family: RobotoRegular;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoBold;
    src: url('../fonts/Roboto-Bold.ttf');
}

/* End of Fonts */

*{
	padding: 0;
	margin: 0;
}

.img-responsive {
	width: 100%;
}

@font-face{
	src: url('../fonts/ofont.ru_Museo Sans Cyrl 900.ttf');
	font-family: Museo;
}
.first_part {
	position: relative;
	height: auto;
    width: 100%;
    z-index: 4;
    padding: 0 !important;
    margin: 0 !important;
}
	.carousel-caption {
		bottom: 50px;
	}
	
	.nursultan {
		display: none;
	}

	.responsive_menu{
		display: none;
		z-index: 9999;
	}
	.head{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		border: 0px solid orange;
		width: 100%;
		height: 100px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		z-index: 9999;
	}
		.logotype{
			margin-left: 50px;
			border: 0px solid red;
			width: 200px;
			height: 100px;
			background-image: url('../img/Devala.png');
			background-position: center;
		}
		.menu_block{
			margin-left: 5px;
			border: 0px solid white;
			width: 650px;
			height: 40px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

			#russian {
				width: 30px;
				height: 20px;
				margin-left: 10px;
				margin-top: 10px;
				margin-right: 10px;
				background-image: url("../img/russian.png");
			    background-repeat: no-repeat;
			}

			#kyrgyz {
				width: 30px;
				height: 20px;
				margin-left: 15px;
				margin-top: 10px;
				margin-right: 10px;
				background-image: url("../img/kyrgyz.png");
			    background-repeat: no-repeat;
			}

			#english {
				width: 30px;
				height: 20px;
				margin-left: 15px;
				margin-top: 10px;
				margin-right: 5px;
				background-image: url("../img/english.png");
			    background-repeat: no-repeat;
			}

			.blocks{
				border: 0px solid green;
				width: 120px;
				height: 38px;
				font-family: 'Roboto', sans-serif;
				color: white;
				font-weight: bolder;
				font-size: 110%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

.first_part_content{
	border: 0px solid white;
	width: 100%;
	height: 420px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
	.logotype_info{
		border: 0px solid blue;
		width: 550px;
		height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-image: url('../img/description_div.png');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
	.logo-title{
		font-family: Museo;
		font-size: 250%;
		color: white;
	}
	.logo-description{
		font-family: 'Roboto', sans-serif;
		color: white;
		font-size: 140%;
	}

.second_part_title_block{
		border: 0px solid black;
		width: 100%;
		height: 150px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 80px;
	}
.second_part_title_div{
	border: 0px solid red;
	width: 450px;
	height: 90px;
	background-image: url('../img/title_div.png');
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: Museo, sans-serif;
	font-size: 200%;
}

.about {
	background-image: url('../img/about.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100vh;
	border: 0px solid orange;
	color: red;
}

div.description > p {
	font-family: Museo700;
	color: black;
	font-size: 18px;
	line-height: 35px;
	text-align: left;
	padding-left: 60px;
}

div.avantage {
	background-image: url('../img/avantaj.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100vh;
	border: 0px solid green;
	background-attachment: fixed;
}

div.block {
	margin-top: 50px;
}

div.block > h3 {
	padding-top: 30px;
	font-family: PTSansBold;
	font-weight: bold;
	color: white;
	font-size: 20px;
}

div.block p {
	padding-top: 20px;
	font-family: PTSansRegular;
	color: white;
	font-size: 16px;
}

div.products {
	height: auto;
	border: 0px solid black;
}

div.product {
	height: 300px;
	margin-top: 0px;
	margin-bottom: 100px;
}

img.urun {
	opacity: 0.8;
}

img.urun:hover {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	opacity: 1;
}

div.product h3 {
	padding-top: 30px;
	font-family: PTSansBold, sans-serif;
	font-weight: bold;
	color: black;
	font-size: 26px;
}

div.product h3:hover {
	text-decoration: none;
	color: #d50000;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-ms-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

a.pro {
	text-decoration: none;
}

div.product p {
	padding-top: 15px;
	font-family: PTSansRegular, sans-serif;
	color: black;
	font-size: 18px;
}


div.certificates {
	background-image: url('../img/certificate.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100vh;
	background-attachment: fixed;
	border: 0px solid black;
}

div.certificate {
	height: 300px;
	margin-top: 0px;
	margin-bottom: 100px;
}

img.sertifika {
	opacity: 0.8;
}

img.sertifika:hover {
	opacity: 1;
	transition: 0.3s;
	box-shadow: 0 0 3px #d50000;
}

input.forma {
	padding-left: 10px;
}

div.partners {
	height: 100vh;
	border: 0px solid black;
}

div.partner {
	margin-top: 50px;
	margin-bottom: 100px;
}

.forth-content{
	border: 0px solid black;
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
	.forth-content-blocks{
		border: 0px solid black;
		width: 900px;
		height: 400px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
		.forth-blocks{
			border: 0px solid black;
			width: 200px;
			height: 300px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}
			.block-img{
				border: 1px solid black;
				width: 170px;
				height: 170px;
			}
			.block-title{
				border: 1px solid black;
				width: 180px;
				height: 60px;
			}
			.block-info{
				border:1px solid black;
				width: 200px;
				height: 60px;
			}
	.pagination-blocks{
		border: 1px solid black;
		width: 200px;
		height: 50px;
		margin-top: 10px;
	}
.fifth_part{
	width: 100%;
	height: 768px;
	background-image: url('../img/fifth-background.png');
	background-size: cover;
	background-repeat: no-repeat;
}
	.fifth-content{
		border: 0px solid white;
		width: 100%;
		height: 500px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
		.fifth-blocks-one{
			border: 0px solid white;
			width: 270px;
			height: 380px;
			background-image: url('../img/sertificate_one.png');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.fifth-blocks-two{
			border: 0px solid white;
			width: 270px;
			height: 380px;
			background-image: url('../img/sertificate_two.png');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.fifth-blocks-three{
			border: 0px solid white;
			width: 270px;
			height: 380px;
			background-image: url('../img/sertificate_three.png');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.fifth-blocks-four{
			border: 0px solid white;
			width: 270px;
			height: 380px;
			background-image: url('../img/sertificate_four.png');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
.sixth-part{
	border: 0px solid black;
	width: 100%;
	height: 768px;
}
	.sixth-content{
		border: 0px solid black;
		width: 100%;
		height: 468px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
		.sixth-content-blocks{
			border: 0px solid black;
			width: 900px;
			height: 200px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
		}
		.sixth-block-one{
			border:0px solid black;
			width: 200px;
			height: 150px;
			background-image: url('../img/partner-one.png');
			background-size: 90%;
			background-position: center;
			background-repeat: no-repeat;
		}
		.sixth-block-two{
			border: 0px solid black;
			width: 200px;
			height: 150px;
			background-image: url('../img/partner-two.png');
			background-size: 90%;
			background-position: center;
			background-repeat: no-repeat;
		}
		.sixth-block-three{
			border: 0px solid black;
			width: 200px;
			height: 150px;
			background-image: url('../img/partner-three.png');
			background-size: 90%;
			background-position: center;
			background-repeat: no-repeat;
		}
		.sixth-block-four{
			border: 0px solid black;
			width: 200px;
			height: 150px;
			background-image: url('../img/partner-four.png');
			background-size: 90%;
			background-position: center;
			background-repeat: no-repeat;
		}
		.sixth-block-five{
			border: 0px solid black;
			width: 200px;
			height: 150px;
			background-image: url('../img/partner-five.png');
			background-size: 90%;
			background-position: center;
			background-repeat: no-repeat;
		}
		.sixth-block-six{
			border: 0px solid black;
			width: 200px;
			height: 150px;
			background-image: url('../img/partner-six.png');
			background-size: 90%;
			background-position: center;
			background-repeat: no-repeat;
		}
		.sixth-block-seven{
			border: 0px solid black;
			width: 200px;
			height: 150px;
			background-image: url('../img/partner-seven.png');
			background-size: 90%;
			background-position: center;
			background-repeat: no-repeat;
		}
		.sixth-block-eight{
			border: 0px solid black;
			width: 200px;
			height: 150px;
			background-image: url('../img/partner-eight.png');
			background-size: 90%;
			background-position: center;
			background-repeat: no-repeat;
		}
.seven-part{
	border: 0px solid black;
	width: 100%;
	height: 768px;
}
	.seven-background{
		border: 0px solid black;
		width: 100%;
		height: 50%;
		background: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
	.seven-part-title{
		border: 0px solid white;
		width: 100%;
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #d50000;
		font-family: Museo;
		font-size: 200%;
	}
	.seven-part-content{
		border: 0px solid red;
		width: 70%;
		height: 310px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

	}
		.seven-info{
			border: 0px solid green;
			width: 400px;
			height: 300px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}
			.info-blocks{
				width: 350px;
				height: 50px;
			}
			.btn-danger{
				width: 361px;
				height: 50px;
				background-color: #d50000;
				border-color: #d50000;
			}
			.seven-info-first{
				border: 0px solid green;
				width: 400px;
				height: 255px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
			}
			.seven-info-text{
				border: 0px solid purple;
				width: 350px;
				height: 60px;
				display: flex;
				flex-direction: row;
			}
				.seven-icon{
					border: 0px solid red;
					width: 60px;
					height: 60px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
					.telephone,
					.laa,
					.fa-envelope-o,
					.fa-link{
						color: #d50000;
						font-size: 200%;
					}
				.seven-icon-info{
					width: 290px;
					height: 60px;
					border: 0px solid orange;
					color: black;
					font-family: Museo;
					font-size: 110%;
					display: flex;
					align-items: center;
				}
.map{
	box-shadow: 0 -5px 5px white;
	border: 0px solid black;
	width: 100%;
	height: 50%;
}

a.navigator {
	text-decoration: none;
}

div.blocks:hover {
	color: #d50000;
	transition: .8s;
	box-shadow: 0 0 5px #d50000;
}

input.name {
	margin-bottom: 12px;
}

input.email {
	margin-bottom: 12px;
}

input.number {
	margin-bottom: 12px;
}

textarea.message {
	height: 100px !important;
	margin-bottom: 12px;
}

/* Styles for details.html */

div.hat {
	background-color: #d50000;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

p.shapka {
	padding-top: 8px;
	color: white;
	font: 22px RobotoRegular;
}

div.product_main {
	margin: 100px 0 50px 0;
	border: 0px solid red;
}

div.product_main_block {
	border: 0px solid green;
	background: white;
	padding: 30px 30px 30px 20px;
	font: 18px RobotoRegular;
}

div.picture {
	border: 0px solid black;
}

div.title_desc {
	font: 16px RobotoRegular;
	border: 0px solid blue;
}

p.zagolovok {
	font: 24px RobotoRegular;
	font-weight: bold;
	padding-top: 5px;
}

div.zakaz_zvonka {
	background: #F2F2F2;
	padding: 20px;
	color: white
}

input.nomer {
	border: 1px solid #bcbcbc;
    font: 15px RobotoRegular;
    height: 34px;
    padding: 0 0 0 20px;
    width: 60%;
	color: #2b2b2b;
}

button.otpravka {
	font: 15px RobotoRegular;
    color: white;
    background: #d50000;
    border: 1px solid #d50000;
    outline: none;
    padding: 0 20px 0 20px;
    margin: 0 0 0 10px;
	height: 34px;
}

div.product_second {
	border: 0px solid black;
	margin-bottom: 50px;
}

div.product_second_block {
	border: 0px solid black;
	background: white;
	padding: 20px 40px;
	font: 16px RobotoRegular;
}

div.footer {
	padding: 20px 0 10px 0;
	border: 0px solid black;
	background: #757575;
	color: white;
	font-weight: 800;
	font-size: 16px;
}

span#cep {
	color: white;
}

span#cep i {
	margin-right: 10px;
}

i.mesto {
	margin-right: 10px;
}

div.footer i {
	color: white;
	font-size: 150%;
	margin-left: 30px;
}

div.rights {
	color: white;
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
	font-family: RobotoRegular;
	background: #757575;
}

body.details {
	background: #F7F7F7;
}

* {
	max-width: 100%;
}

span#for_tel {
	color: #d50000;
}

.has-errors {
	border: 1px solid deeppink !important;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

p#hata {
	color: red;
	display: none;
}

.oshibka {
    display: none;
    text-align: center;
}

.oshibka {
    display: none;
    text-align: center;
}

.oshibka_2 {
	margin-top: 30px;
	margin-bottom: 10px;
    display: none;
    text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;

