{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Devala</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox-3.0/dist/jquery.fancybox.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'responsive/main_responsive.css' %}">
    <style>
		#slider {
			margin: 0;
			padding: 0;
			width: 100%;
		}

		#carousel {
			margin: 0;
			padding: 0;
		}
	</style>
    <script src="{% static 'fancybox-3.0/dist/jquery.fancybox.min.js' %}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap,
            myPlacemark;

        function init(){
            myMap = new ymaps.Map("map", {
                center: [42.8705085,74.6089621],
                zoom: 16
            });

            myPlacemark = new ymaps.Placemark([42.870941, 74.610043], {
{#                hintContent: 'Москва!',#}
                balloonContent: 'ул. Тыныстанова д. 197/1, кв. 21'
            });

            myMap.geoObjects.add(myPlacemark);
        }
    </script>
</head>
<body>
<!--FIRST PART-->
<div class="first_part">
	<!--RESPONSIVE MENU-->
	<div class="responsive_menu">
		<div class="menu_large_block">
			<div class="menu-icon">
				<div id="trigger">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</div>
				<div id="trigger-out">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</div>
			</div>
			<div class="menu-title"><h2>Devala</h2></div>
			<div class="menu-icon"></div>
		</div>
		<div class="nav_menu" id="trigger_menu">
			<a href="#about" id="block_one">
				<div class="nav_blocks">About product</div>
				</a>
			<a href="#avantage" id="block_two">
				<div class="nav_blocks">Advantages</div>
				</a>
			<a href="#products" id="block_three">
				<div class="nav_blocks">Our products</div>
            </a>
            <a href="#certificates" id="block_four">
				<div class="nav_blocks">Certificates</div>
            </a>
			<a href="#partners" style="display: none"  id="block_five">
				<div class="nav_blocks">Partners</div>
            </a>
			<a href="#content_five" style="display: none" id="block_six">
				<div class="nav_blocks">Contacts</div>
            </a>
			<a href="#" style="display: none" id="block_seven">
				<div class="nav_blocks">Язык/Тил/Language</div>
            </a>
			<a href="{% url 'product:product-list-ru' %}" id="block_eight">
				<div class="lang_block">Русский</div>
            </a>
			<a href="{% url 'product:product-list-kg' %}" id="block_nine">
				<div class="lang_block">Кыргызча</div>
            </a>
			<a href="#" onclick="return false" id="block_ten">
				<div class="lang_block">English</div>
            </a>
		</div>
	</div>
	<!--/RESPONSIVE MENU-->
	<div class="head">
		<div class="logotype"></div>
		<div class="menu_block">
			<a class="navigator" href="#about">
                <div class="blocks">About product</div>
            </a>
            <a class="navigator" href="#avantage">
			    <div class="blocks">Advantages</div>
            </a>
            <a class="navigator" href="#products">
			    <div class="blocks">Our products</div>
            </a>
            <a class="navigator" href="#certificates">
                <div class="blocks">Certificates</div>
            </a>
            <a class="navigator" style="display: none" href="#partners">
                <div class="blocks">Partners</div>
            </a>
            <a class="navigator" href="#content_five">
                <div class="blocks">Contacts</div>
            </a>
            <a class="navigator" href="{% url 'product:product-list-ru' %}">
                <div id="russian"></div>
            </a>
            <a class="navigator" href="{% url 'product:product-list-kg' %}">
                <div id="kyrgyz"></div>
            </a>
            <a class="navigator" href="#" onclick="return false">
                <div id="english"></div>
            </a>
        </div>
	</div>

    <div class="container hidden-xs" id="slider">
		<div id="carousel" class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
	  	<div id="myCarousel" class="carousel slide" data-ride="carousel">

	    <!-- Wrapper for slides -->
	    <div class="carousel-inner" role="listbox">

	      <div class="item active" id="slide1">
            <img src="{% static 'img/3.jpg' %}" alt="" class="img-responsive">
            <div class="carousel-caption">
                <div class="logotype_info center-block mehmet">
                    <div class="logo-title">Let your love will be long and sweet!</div>
{#                    <div class="logo-description">Total 1700 som including delivery around the Kyrgyzstan</div>#}
                </div>
            </div>
          </div>

          <div class="item" id="slide2">
            <img src="{% static 'img/1.jpg' %}" alt="" class="img-responsive">
            <div class="carousel-caption">
                <div class="logotype_info center-block mehmet">
                    <div class="logo-title">Let your love will be long and sweet!</div>
{#                    <div class="logo-description">Total 800 som including delivery around the Kyrgyzstan</div>#}
                </div>
            </div>
          </div>

          <div class="item" id="slide3">
            <img src="{% static 'img/2.jpg' %}" alt="" class="img-responsive">
            <div class="carousel-caption">
                <div class="logotype_info center-block mehmet">
                    <div class="logo-title">Let your love will be long and sweet!</div>
{#                    <div class="logo-description">1700 + 800 = <s>2500</s> <b>2000</b> som including delivery around the Kyrgyzstan</div>#}
                </div>
            </div>
          </div>

        </div>

	    <!-- Left and right controls -->
	    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	      <span class="sr-only">Previous</span>
	    </a>
	    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	      <span class="sr-only">Next</span>
	    </a>
  		</div>
  		</div>
  	</div>


    <div class="nursultan">
        <div class="first_part_content">
            <div class="logotype_info">
                <div class="logo-title">Пробуди свою страсть</div>
                <div class="logo-description">Натуральные биодобавки для знойной любви</div>
            </div>
        </div>
    </div>
</div>
<!--/FIRST PART-->
<div class="container-fluid about" id="about">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 text-center">
            <div class="second_part_title_block">
		        <div class="second_part_title_div">Honey paste Devala</div>
	        </div>
        </div>
    </div>

    <!-- May be it will be usefull -->
    <div class="row visible-xs">
        <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <div class="col-sm-6 col-md-3 col-lg-3 text-center" style="margin-bottom: 30px">
                <img src="{% static 'img/product_about.jpg' %}" alt="tovar.png" height="180" width="180">
            </div>
        </div>
    </div>
    <!-- May be it will be usefull -->


    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-4 col-lg-5 col-lg-offset-4 text-center description">
            <p>Natural remedy, possessing integrated influence to male and female organism resulting in releasing testosterone of men and estrogen of women which redound to increase men’s sexual vigor and stamina as well as women’s sexual drive.</p>
        </div>
    </div>
</div>
<div class="container-fluid avantage" id="avantage">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 text-center description_2">
            <div class="second_part_title_block">
		        <div class="second_part_title_div">Our privileges</div>
	        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <div class="col-sm-6 col-md-3 col-lg-3 block text-center">
                <img class="visible-xs visible-sm center-block" src="{% static 'img/yaprak_sm.png' %}" alt="yaprak.png" height="100" width="100">
                <img class="hidden-xs hidden-sm" src="{% static 'img/yaprak.png' %}" alt="yaprak.png" height="100" width="100">
                <h3>100% natural product</h3>
                <p>Consisting of natural ingredients only</p>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 block text-center">
                <img class="visible-xs visible-sm center-block" src="{% static 'img/script_sm.png' %}" alt="script.png" height="100" width="100">
                <img class="hidden-xs hidden-sm" src="{% static 'img/script.png' %}" alt="script.png" height="100" width="100">
                <h3>Our products are certified </h3>
                <p>We guarantee a product</p>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 block text-center">
                <img class="visible-xs visible-sm center-block" src="{% static 'img/oborot_sm.png' %}" alt="oborot.png" height="100" width="100">
                <img class="hidden-xs hidden-sm" src="{% static 'img/oborot.png' %}" alt="oborot.png"  height="100" width="100">
                <h3>It turns <br> in a moment</h3>
                <p>Even a trace amount is enough <br> to get off to a running start</p>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 block text-center">
                <img class="visible-xs visible-sm center-block" src="{% static 'img/heart_sm.png' %}" alt="heart_sm.png" height="100" width="100">
                <img class="hidden-xs hidden-sm" src="{% static 'img/heart.png' %}" alt="heart.png" height="100" width="100">
                <h3>Increase sensitivity</h3>
                <p>Gives you maximum pleasure</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid products" id="products">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 text-center description_3">
            <div class="second_part_title_block">
		        <div class="second_part_title_div">Our goods</div>
	        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            {% for p in products %}
                <div class="col-sm-6 col-md-3 col-lg-3 product text-center">
                    <a href="{% url 'product:product-details-en' p.id %}">
                        <img class="urun" src="{% if p.image %}/mediafiles/{{ p.image}}{% else %}{% static "img/no-image.png"%}{% endif %}" alt="tovar1.png" height="180" width="180">
                    </a>
                    <a class="pro" href="{% url 'product:product-details-en' p.id %}">
                        <h3>{{ p.title_en}}</h3>
                    </a>
                    <p>{{ p.short_description_en }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container-fluid certificates" id="certificates">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 text-center">
            <div class="second_part_title_block">
		        <div class="second_part_title_div">Our certificates</div>
	        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            {% for certificate in certificates %}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 certificate text-center">
                        <a data-fancybox="gallery" href="/mediafiles/{{ certificate.image }}">
                            <img class="sertifika" src="/mediafiles/{{ certificate.image }}" alt="certificate.png" height="auto" width="180">
                        </a>
                </div>
            {% endfor %}

        </div>
    </div>
</div>

<div class="container-fluid partners" id="partners" style="display: none">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 text-center description_4">
                <div class="second_part_title_block">
                    <div class="second_part_title_div">Our partners</div>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
				{% for pa in partners %}
                    <div class="col-sm-4 col-md-3 col-lg-3 text-center partner">
                        <img src="/mediafiles/{{pa.logo}}" alt="partner{{ pa.id }}.png" width="150" height="auto">
                    </div>
                {% endfor %}
			</div>
		</div>
	</div>

<!--SEVEN PART-->
<div class="seven-part" id="content_five">
    <div class="seven-background">
        <div class="seven-part-title">If you have any question, please, write to us!</div>
        <div class="seven-part-content">
            <div class="seven-info-first">
                <div class="alert alert-danger fade in oshibka">
                    <strong>Data is not valid</strong>
                </div>
                <div class="seven-info-text" id="tolk">
                    <div class="seven-icon">
                        <i class="fa fa-briefcase laa" aria-hidden="true"></i>
                    </div>
                    <div class="seven-icon-info">
                        DARISAN GIDA VE SAGLIK HIZMETLERI LLC
                    </div>
                </div>
                <div class="seven-info-text">
                    <div class="seven-icon">
                        <i class="fa fa-map-marker laa" aria-hidden="true"></i>
                    </div>
                    <div class="seven-icon-info">
                        Bishkek,<br/>
                        Tynystanov str., 197/1, apt. 21
                    </div>
                </div>
                <div class="seven-info-text">
                    <div class="seven-icon">
                        <i class="fa fa-phone telephone" aria-hidden="true"></i>
                    </div>
                    <div class="seven-icon-info">+ 996 505 04 07 17 <br/> 						+ 90 507 728 66 86<i class="fa fa-whatsapp fa-lg" aria-hidden="true" style="color:#25d366; margin-left: 10px; margin-top: 20px"></i>                   </div>
                </div>
                <!--
                <div class="seven-info-text">
                    <div class="seven-icon">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>

                    <div class="seven-icon-info">
                        info@devala.kg<br/>
                        www.devala.kg
                    </div>
                </div>
                -->

                <!--
                <div class="seven-info-text">
                    <div class="seven-icon">
                        <i class="fa fa-link" aria-hidden="true"></i>
                    </div>
                    <div class="seven-icon-info">
                        www.devala.kg
                    </div>
                </div>
                -->

            </div>
            <div class="seven-info">
                <div class="alert alert-danger fade in oshibka_2">
                    <strong>Data is not valid</strong>
                </div>
                <form method="post" action="{% url 'product:send_mail' %}" id="myForm">
                    {% csrf_token %}
                    {% for f in form %}
                        {{ f }}
                    {% endfor %}
                    <button id="does_it_work" type="submit" class="btn btn-danger">Contact us</button>
                </form>
            </div>
        </div>
    </div>
    <div class="map" id="map"></div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close text-center" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body text-center">
        <h4 class="modal-title">Message has been successfully sent!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" src="{% static 'js/ajaxform.js' %}"></script>
<script>
    $(document).ready(function() {
            // bind 'myForm' and provide a simple callback function
            $('#myForm').ajaxForm(function(response) {
                if (response['error']) {
                    var keys = Object.keys(response.error);
                    for (var i = 0; i < keys.length; i++) {
                        $('#id_' + keys[i]).addClass('has-errors');
                        $('.oshibka').slideUp().slideDown();
                        $('.oshibka_2').slideUp().slideDown();
                    }
                }
                else if (response['error']===undefined) {
                    $('input:not([name="csrfmiddlewaretoken"])').val('');
                    $('textarea').val('');
                    $('.oshibka').slideUp();
                    $('.oshibka_2').slideUp();
                    $('input').removeClass('has-errors');
                    $('#myModal').modal();
                }
            });
        });
</script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#<script type="text/javascript" src="{% static 'js/map.js' %}"></script>#}
{#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMMxKUMZM22olEchhWb4Mjfoo77-sIx5I&callback=myMap"></script>#}
<script src="{% static 'js/main.js' %}"></script>
<!--/SEVEN PART-->
<!-- BEGIN JIVOSITE CODE {literal} --> <script type='text/javascript'> (function(){ var widget_id = '9a3knLkEuT';var d=document;var w=window;function l(){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script> <!-- {/literal} END JIVOSITE CODE -->
</body>
</html>
